### Pandas
- 用于数据清洗，数据分析
- 专门为处理表格和混杂数据

In [1]:
import pandas as pd

In [3]:
from pandas import Series, DataFrame

In [4]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj[obj > 1]

0    4
1    7
3    3
dtype: int64

Series
定长有序字典

DataFrame 是一个表格型的数据结构，含有**一组有序**的列

In [10]:
data = {'name': ['tyz', 'zr', 'zdm', 'zxj', 'tlq', 'zyh'],
        'year': [2002, 2001, 1973, 1973, 1973, 1973],
        'grade': [90, 60, 0, 0, 0, 0]}
# 一个字典， 键是字符串，值是列表
# 生成后的 DataFrame 列是字符串，值是列表中的值
frame = pd.DataFrame(data)
frame

  name  year  grade
0  tyz  2002     90
1   zr  2001     60
2  zdm  1973      0
3  zxj  1973      0
4  tlq  1973      0
5  zyh  1973      0

In [11]:
frame.head()

  name  year  grade
0  tyz  2002     90
1   zr  2001     60
2  zdm  1973      0
3  zxj  1973      0
4  tlq  1973      0

In [12]:
frame['year']

0    2002
1    2001
2    1973
3    1973
4    1973
5    1973
Name: year, dtype: int64

In [13]:
frame.values

array([['tyz', 2002, 90],
       ['zr', 2001, 60],
       ['zdm', 1973, 0],
       ['zxj', 1973, 0],
       ['tlq', 1973, 0],
       ['zyh', 1973, 0]], dtype=object)

In [14]:
frame.index

RangeIndex(start=0, stop=6, step=1)